#text-body h1{
  color:#4e545c;
  font-size:6em;
  margin:0;
}
#text-body p{
  font-size:1.8em;
}
body{
  background-color:#e5e8e8;
  color:#000401;
  font-family: 'Roboto Mono', monospace;
}
#text-body aside{
  float:left;
  position:fixed;
}
#text-body main{
  margin:auto;
  width:60%;
  text-align:justify;
}
aside{
  font-size:1.3em;
}
a{
  color:#4e545c;
}
a:hover{
  color:#8d9797;
}
aside ul li::marker{
  color:#4e545c;
}
aside ul li{
  list-style-type:circle;
}
aside ul li:hover{
  list-style-type:disc;
}
